<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>File</title>
</head>
<body>
  <form th:action="@{/file}" method="post" enctype="multipart/form-data">
    <dl>
      <dt>File</dt>
      <dd>
        <input type="file" name="file">
      </dd>
    </dl>
    <button>Upload</button>
  </form>
  <hr>
  <div th:if="${file != null}">
    <span>File uploaded.</span>
    <dl>
      <dt>Filename:</dt><dd><span th:text="${file.name}"></span></dd>
      <dt>Size:</dt><dd><span th:text="${file.size}"></span></dd>
    </dl>
  </div>
</body>
</html>